<% if params[:cell_id].present? %>
  <div class="control-group" style="margin-bottom: 5px;">
    <label class="control-label">Label</label> 
    <div class="controls">
      <%= text_field_tag "#{item_field}[label]", "", placeholder: 'your question or label', id: item_field_for('label') %>
    </div>
    &nbsp;&nbsp; 
  </div>
<% else %>
  <% if index.present? %>
    <div class="control-group js_controls" style="margin-bottom: 5px;" data-id="item_<%= item.id %>">
      <a href="" class='close remove_item pull-right'>&times;</a>
      <a href="" id="edit_item_<%= "#{index}" %>" class='icon-small icon-pencil close edit_item pull-right'><i></i></a>
      <label><%= item.label %></label> 
      <%= hidden_field_tag "work_form_group[rows_attributes][#{index_row}][row_columns_attributes][#{index}][items_attributes][#{item_index}][label]", item.label %>
      <%= hidden_field_tag "work_form_group[rows_attributes][#{index_row}][row_columns_attributes][#{index}][items_attributes][#{item_index}][field_type]", item.field_type %>
      <%= hidden_field_tag "work_form_group[rows_attributes][#{index_row}][row_columns_attributes][#{index}][items_attributes][#{item_index}][id]", item.id %>
      <%= hidden_field_tag "work_form_group[rows_attributes][#{index_row}][row_columns_attributes][#{index}][items_attributes][#{item_index}][_destroy]", 0, class: 'destroyable' %>
    </div>
  <% else %>
    <div class="control-group js_controls" style="margin-bottom: 15px;">
      <div class="controls">
        <label class="control-label" style="margin-right:30px">Label</label>
        <input class="span5" id="field_setting_item_options__label"  
         name="work_form_group[items_attributes][<%= item_index %>][label]" size="30" type="text" 
         placeholder="enter your label" value="<%= item.label %>" required="true "> 
        <a href="" class='close remove_item' style="margin-right: 150px;">&times;</a>
        <%= hidden_field_tag "work_form_group[items_attributes][#{item_index}][field_type]", item.field_type %>
        <%= hidden_field_tag "work_form_group[items_attributes][#{item_index}][id]", item.id %>
        <%= hidden_field_tag "work_form_group[items_attributes][#{item_index}][_destroy]", 0, class: 'destroyable' %>
      </div>
    </div> 
  <% end %>
<% end %>