<div class="innerLR add-margin-top">
  <div class="widget widget-heading-simple widget-body-gray">
    <h3> Service Point List</h3>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          <span class="heading glyphicons search color_white"><i></i>Advance Filter Search</span>
          <div class="toggle_icon">
            <span class="heading glyphicons expand color_white"><i></i></span>
          </div>
        </a>
      </div>
    </div>
    <%= form_tag "service_points/mass_delete", method: "post" do %>   
      <%= render partial: "pages/form_tag_index",locals:{model: :service_point, new_local_path: new_service_point_path } %>
      <table class="table table-primary table-border-bottom">
        <thead>
          <tr>
            <th></th>
            <th>Code</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% @service_points.each_with_index do |loc,key| %>
            <tr class="gradeX">
              <td>
                <%= check_box_tag "service_point[service_point_ids][]", loc.id, false, id: "service_point_#{key}" %>
                <label for="service_point_<%= key %>"><span></span></label>
              </td>
              <td><%= link_to loc.code.to_s.upcase, remove_link(edit_service_point_path(loc.id), :service_point,[:manage,:update]) %></td>
              <td>
                <div class="<%= permission_active_if(:service_point,[:update,:destroy,:manage]) %>">
                  <div class="action hide" align="center">
                    <%= link_to edit_service_point_path(loc.id), class: "btn btn-white #{permission_active_if(:service_point,[:update,:manage])}" do %>
                    <i class="icon-pencil"></i>
                    Edit
                  <% end %>
                    <%= link_to service_point_path(loc.id), method: :delete, data: { confirm: 'Are You Sure'}, class: "btn btn-white #{permission_active_if(:service_point,[:destroy,:manage])}" do %>
                      <i class="icon-remove"></i>
                    Delete
                    <% end if @service_points.present? %>
                  </div>
                </div>
                <b>
                  <%= link_to loc.name.to_s.titleize, remove_link(edit_service_point_path(loc.id), :service_point,[:manage,:update]) %>
                </b>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <div class="buttons pull-right">
      <%= paginate @pagination %>
    </div>
  </div>  
</div>
