<% if !@user.id.blank? %>
	<div class="innerLR add-margin-top">
		<div class="form-horizontal margin-none">

			<div class="widget widget-heading-simple widget-body-gray">
				<div class="row-fluid">				
					<div class="span6 vers">
						<div class="control-group">
							<div style="text-align:center">
										<h3>User <%= @user.full_name %></h3>
									<% if @user.profile && @user.profile.picture %>
	  								<%= image_tag @user.profile.picture.small, class: "avatar" %>
	  							<% else %>
	  							  <%= image_tag "no-image.png", class: "avatar" %>
	  							<% end %>
	  							<br>
	  							<%= link_to "<i></i>Edit Data".html_safe ,edit_user_path(@user.id),class: "btn btn-icon btn-primary green #{permission_active_if(:user,[:update,:manage])}",id:"gradien" %>
									<%= link_to "<i></i>Cancel".html_safe ,users_path,class: "btn btn-icon btn-default",id:"gradien2" %>
							</div>
						</div>
					</div>
					
					<div class="span6 vers">	
						<div class="head_view">
							User Information
						</div>
						<table class="table table-stripped gray-popup view_table">
					    <tbody>
					    	<tr>
				            <th width="30%">Full Name</th>
				            <th><%= @user.full_name %></th>
				        </tr>
				        <tr>
				            <td><b>Email</b></td>
				            <td><%= @user.email %></td>
				        </tr>
				        <tr>
				            <td><b>Phone</b></td>
				            <td><%= profile_attr(@user, "phone") %></td>
				        </tr>
				        <tr>
				            <td><b>Mobile</b></td>
				            <td><%= profile_attr(@user, "mobile") %></td>
				        </tr>
				        <tr>
				            <td><b>Fax</b></td>
				            <td><%= profile_attr(@user, "fax") %></td>
				        </tr>
				        <tr>
				            <td><b>Address 1</b></td>
				            <td><%= address_attr(@user, "address_1") %></td>
				        </tr>
				        <tr>
				            <td><b>Address 2</b></td>
				            <td><%= address_attr(@user, "address_2") %></td>
				        </tr>
				        <tr>
				            <td><b>City</b></td>
				            <td><%= address_attr(@user, "city") %></td>
				        </tr>
				        <tr>
				            <td><b>Province</b></td>
				            <td><%= address_attr(@user, "province") %></td>
				        </tr>
				        <tr>
				            <td><b>Country<b></td>
				            <td><%= address_attr(@user, "country") %></td>
				        </tr>
					    </tbody>
						</table>	
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

