<div class="add-margin-top">
  <div class="sub_content_audit">
    <b>Photographs </b>
    <div class="br"></div>
  </div>
  <div class="form-horizontal margin-none padding-no">

    <div class="widget widget-heading-simple widget-body-gray">
      <div class="row-fluid">
        <div class="span12">
          <% count_photo = 1 %>
          <% fields.each do |field| %>
            <% item_value = values[field.id.to_s] %>
            <% if field.field_type.to_s == 'label' %>
              <% count_photo = 1 %>
              <div class="content_report_photograph_audit add-margin-top">
              <div class="span12 label-header-photograph">
                <%= field.label %>
              </div>
            <% else %>
              <% count_photo = count_photo + 1 %>
              <div class="span6" style="margin:5px 0px;">
                <div class="thumbnail" style="text-align:center;">
                  <div class="image-container" style="min-height: 300px;text-align:center;border: 1px solid #ddd">
                    <% if item_value && item_value.picture.present? %>
                      <%= image_tag item_value.picture.medium, style: 'height: 350px;' %>
                    <% else %>
                      <%= image_tag "no-image.png", style: 'height: 350px;' %>
                    <% end %>
                  </div>
                  <br/>
                  <h5>
                    <%= field.label %>
                  </h5>

                  <table class="table table-bordered">
                    <tr>
                      <td>
                        <label>Latitude:</label>
                        <span><%= item_value.latitude if item_value %></span>
                      </td>
                      <td>
                        <label>Longitude:</label>
                        <span><%= item_value.longitude if item_value %></span>
                      </td>
                      <td>
                        <label>Accuracy:</label>
                        <span><%= item_value ? item_value.accuracy : 0 %> M</span>
                      </td>
                      <td>
                        <label>Status:</label>
                        <span><%= item_value.photo_status if item_value %></span>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4">
                        <label>Remark:
                          <span><%= item_value.remark if item_value %></span>
                        </label>
                      </td>
                    </tr>
                  </table>
                  <span></span>
                </div>
              </div>
            <% end %>
            <% if count_photo == 5 %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

