<%= wicked_pdf_stylesheet_link_tag "pdf" %>
<% schedule = @schedule %>
<% work_form_group = @work_form_group %>
<% operator = @operator %>
<% counter = 0 %>
<% @photo_fields.each_with_index do |photo, index| %>
  <% if counter == 0 %>
    <div class="body">
      <div class="form-horizontal">
        <div class="widget">
          <div class="row-fluid"> 
            <div class="content_report span12">
              <div class="row-fluid"> 
                <div class="span12">
                  <div class="header_report">
                    <h4><%= "CME #{schedule.work_type.name} Maintenance".upcase %></h4>
                    <div class="small_font"><%= @work_form_group.name %></div>
                    <div class="small_font">Ver.1.3</div>
                    <div class="operator-logo">
                      <% if @operator.profile && @operator.profile.picture %>
                        <%= image_tag @operator.profile.picture.medium %>
                      <% end %>
                    </div>
                  </div>
                  <% work_date = Time.at(schedule.work_date) %>
                  <div class="separator"></div>
                  <table border='1' align="center" class="table_photograph">
                    <tr>
                      <td style="width: 10%;"><label class="control-label" style="width: 85px;">Site ID </label></td>
                      <td style="width: 40%">
                        <%= "#{schedule.site.code} / #{schedule.site.name}".upcase if schedule.site %>
                      </td>
                      <td style="width: 10%;">
                        <label class="control-label" style="width: 85px;">Date </label></td>
                      <td style="width: 40%">
                        <%= "#{work_date.strftime("%d-%b-%y")}".upcase %>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 100px;">
                        <label class="control-label" style="width: 85px;">Site Name </label></td>
                      <td>
                        <%= "#{schedule.site.name}".upcase if schedule.site %>
                      </td>
                      <td style="width: 100px;">
                        <label class="control-label" style="width: 85px;">Engineer </label></td>
                      <td>
                        <%= "#{schedule.user.full_name}".upcase if schedule.user %>
                      </td>
                    </tr>
                  </table>
                  <div class="separator"></div>
                </div>
              </div>
              <div class="span12">
  <% end %>

  <% item_value = @item_values[photo.id.to_s] %>
  <div class="span6" style="margin:5px;margin-bottom: 8px;margin-top: 8px;">
    <div class="thumbnail" style="text-align:center;">
      <div class="image-container" style="height: 270px;text-align:center;border: 1px solid black">
        <% if item_value && item_value.picture.present? %>
          <%= image_tag item_value.picture.medium, style: 'height: 270px;' %>
        <% end %>
      </div>
      <h5>
        <%= photo.label %>
      </h5>

      <% if item_value && params[:format] != 'pdf' %>
        <div class="make-switch" data-on="danger" data-off="success" data-on-label="corrective" data-off-label="passed">
          <%= check_box_tag "corrective_ids[]", photo.id, item_value ? (item_value.photo_status.to_s.downcase == 'nok') : true %> 
        </div>
      <% end %>
                    
      <table class="table table-bordered">
        <tr>
          <td>
            <label>Latitude:</label>
            <span><%= item_value.latitude if item_value %></span>
          </td>
          <td>
            <label>Longitude:</label>
            <span><%= item_value.longitude if item_value %></span>
          </td>
          <td>
            <label>Accuracy:</label>
            <span><%= item_value ? item_value.accuracy : 0 %> M</span>
          </td>
          <td>
            <label>Status:</label>
            <span><%= item_value.photo_status if item_value %></span>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <label>Remark: 
              <span><%= item_value.remark if item_value %></span>
            </label>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <% if (index == @photo_fields.size-1) || (counter != 0 && counter%5==0) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% counter = 0 %>
  <% else %>
    <% counter += 1 %>
  <% end %>  
<% end %>
