<%= wicked_pdf_stylesheet_link_tag "pdf" %>

<div class="body">
  <div class="form-horizontal">
    <div class="widget widget-heading-simple widget-body-gray">
      <div class="row-fluid"> 
        <div class="content_report span12">
          <div class="header_report">
            <h4><%= "CME #{@schedule.work_type.name} Maintenance".upcase %></h4>
            <div class="small_font"><%= @work_form_group.name %></div>
            <div class="small_font">Ver.1.3</div>
          </div>
          <% work_date = Time.at(@schedule.work_date) %>
          <div class="separator"></div>
          <table border='1' align="center" class="table_photograph">
            <tr>
              <td style="width: 10%;"><label class="control-label" style="width: 85px;">Site ID </label></td>
              <td style="width: 40%">
                <%= "#{@schedule.site.code} / #{@schedule.site.name}".upcase %>
              </td>
              <td style="width: 10%;">
                <label class="control-label" style="width: 85px;">Date </label></td>
              <td style="width: 40%">
                <%= "#{work_date.strftime("%d-%b-%y")}".upcase %>
              </td>
            </tr>
            <tr>
              <td style="width: 100px;">
                <label class="control-label" style="width: 85px;">Site Name </label></td>
              <td>
                <%= "#{@schedule.site.name}".upcase %>
              </td>
              <td style="width: 100px;">
                <label class="control-label" style="width: 85px;">Engineer </label></td>
              <td>
                <%= "#{@schedule.user.full_name}".upcase %>
              </td>
            </tr>
          </table>
          <div class="separator"></div>
        </div>
      </div>
    </div>
  </div>
</div>
