<div style="width:100%!important;background-color:#dedede;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-family:HelveticaNeue,sans-serif">
  <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="table-layout:fixed;background-color:#dedede">
    <tbody>
      <tr style="border-collapse:collapse">
        <td align="center" bgcolor="#dedede" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
          <table width="640" cellpadding="0" cellspacing="0" border="0" style="margin-top:0;margin-bottom:0;margin-right:10px;margin-left:10px">
            <tbody>
              <tr style="border-collapse:collapse">
                <td width="640" height="20" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                </td>
              </tr>

              <tr style="border-collapse:collapse">
                <td width="640" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                  <table width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#FEFEFE" style="border-radius:6px 6px 0px 0px;background-color:#005f9a;color:#ededed">
                    <tbody>
                      <tr style="border-collapse:collapse">
                        <td width="15" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                        </td>
                        <td width="350" valign="middle" align="left" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                          <table width="350" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr style="border-collapse:collapse">
                                <td width="350" height="8" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <div style="font-size:12px;color:#ededed">
                            <span>
                              <a href="javascript:void(0)" lang="en" style="font-weight:bold;color:#ffffff;text-decoration:none" target="_blank">
                                <%= current_user.role.title %>
                              </a>
                            </span>
                            <span>
                              &nbsp;&nbsp;|&nbsp;
                              <a href="javascript:void(0)" lang="en" style="font-weight:bold;color:#ffffff;text-decoration:none" target="_blank">
                                <%= Time.now.strftime('%d %b %Y %H:%M:%S') %>
                              </a>
                            </span>
                          </div>
                          <table width="350" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr style="border-collapse:collapse">
                                <td width="350" height="8" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td width="30" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                        </td>
                        <td width="255" valign="middle" align="right" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                          <table width="255" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr style="border-collapse:collapse">
                                <td width="255" height="8" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr style="border-collapse:collapse">
                              </tr>
                            </tbody>
                          </table>
                          <table width="255" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr style="border-collapse:collapse">
                                <td width="255" height="8" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td width="15" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
              <tr style="border-collapse:collapse">
                <td width="640" align="center" bgcolor="#FEFEFE" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                  <div align="center" style="text-align:center">
                    <a href="http://mobile.sekap.net/" target="_blank">
                      <img label="Header Image" width="292" src="http://i2.cmail1.com/ti/d/FA/8C0/329/231609/images/sap-44570d808efa4c1ddfb04b907930c182.201501.png" border="0" align="top" style="display:inline;outline-style:none;text-decoration:none">
                    </a>
                  </div>
                </td>
              </tr>

              <tr style="border-collapse:collapse">
                <td width="640" height="30" bgcolor="#ffffff" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                </td>
              </tr>
              <tr style="border-collapse:collapse">
                <td width="640" bgcolor="#ffffff" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                  <table align="left" width="640" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr style="border-collapse:collapse">
                        <td width="30" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                        </td>
                        <td width="580" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">

                          <table width="580" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr style="border-collapse:collapse">
                                <td width="580" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                                  <p align="left" style="font-size:18px;line-height:24px;color:#3b3b3b;font-weight:bold;margin-top:0px;margin-bottom:18px;font-family:HelveticaNeue,sans-serif">
                                    Halo <%= current_user.full_name %>,
                                  </p>
                                  <div align="left" style="font-size:13px;line-height:18px;color:#444444;margin-top:0px;margin-bottom:18px;font-family:HelveticaNeue,sans-serif">
                                    <p>Berikut adalah laporan harian inspeksi tower dari <%= params[:start_date].to_date.strftime('%d %b %Y') %> hingga <%= params[:end_date].to_date.strftime('%d %b %Y') %></p>
                                    <p>Anda saat ini mempunyai <b><%= @schedules.first.size %></b> jadwal tertunda yang memerlukan 'approval'.</p>
                                    <ul>
                                      <% @date_schedules.each do |date, schedules| %>
                                        <li>
                                          <b><%= date.strftime('%d %b %Y') %> : <%= schedules.length %> sites</b>
                                          <ul style="padding-left: 10px;">
                                            <% schedules.each do |schedule| %>
                                              <% site = schedule.site %>
                                              <% next unless site %>
                                              <li>
                                                <%= site.name %>,
                                                SITE ID: <%= site.code %>,
                                                SITE CUST: <%= site.site_id_customer %>
                                                <%= "(#{schedule.operators.size} operators)" %>
                                                <ul>
                                                  <% schedule.operators.each do |operator| %>
                                                    <li><%= operator.name %></li>
                                                  <% end %>
                                                </ul>
                                              </li>
                                            <% end %>
                                          </ul>
                                          <br/>
                                        </li>
                                      <% end %>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="border-collapse:collapse">
                                <td width="580" height="10" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td width="30" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr style="border-collapse:collapse">
                <td width="640" height="15" bgcolor="#ffffff" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                </td>
              </tr>

              <tr style="border-collapse:collapse">
                <td width="640" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                  <table width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#c7c7c7" style="border-radius:0px 0px 6px 6px;background-color:#c7c7c7;color:#ededed">
                    <tbody>
                      <tr style="border-collapse:collapse">
                        <td width="30" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                        </td>
                        <td width="360" height="30" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                        </td>
                        <td width="60" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                        </td>
                        <td width="160" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                        </td>
                        <td width="30" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                        </td>
                      </tr>
                      <tr style="border-collapse:collapse">
                        <td width="30" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                        </td>
                        <td width="360" height="15" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                        </td>
                        <td width="60" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                        </td>
                        <td width="160" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                        </td>
                        <td width="30" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr style="border-collapse:collapse">
                <td width="640" height="60" style="font-family:HelveticaNeue,sans-serif;border-collapse:collapse">
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
