<div class="row-fluid">
  <div class="br"></div>
  <%= form_tag '', method: "get" do %>
    <%= hidden_field_tag 'tab', params[:tab] unless is_client? %>
    <div class="span3">
      <label class="grey">Start Date</label>
      <div class="datetimepicker" class="input-append date">
        <%= text_field_tag 'start_date', params[:start_date], "data-format" => "yyyy-MM-dd", required: true %>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
      </div>
    </div>
    <div class="span3">
      <label class="grey">End Date</label>
      <div class="datetimepicker" class="input-append date">
        <%= text_field_tag 'end_date', params[:end_date], "data-format" => "yyyy-MM-dd", required: true %>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
      </div>
    </div>
    <div class="span3">
      <label class="grey">Type</label>
      <%= select_tag "type", options_for_select([[ "Daily", "daily"], [ "Weekly", "weekly" ], [ "Monthly", "monthly" ]], params[:type] || 'weekly') %>
    </div>
    <div class="span2">
      <label class="grey">Search</label>
      <button class="btn btn-icon btn-primary circle_ok" id="gradien" name="" type="submit"><i></i>Search</button>
    </div>
  <% end %>
</div>
