<div class="widget widget-heading-simple widget-body-gray">
  <%= display_errors!(@work_form_group) %>
  <div class="widget-body" id="gradien2"><br>
    <div class="row-fluid">   
      <div class="span12 form-group-container"> 
        <div class="control-group">
          <label class="control-label">Form Part Of</label>
          <div class="controls">
            <%= f.select :parent_id, select_tree(@work_form_groups, (@work_form_group? @work_form_group.parent_id : '')),{}, class: 'span12'  %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Name</label>
          <div class="controls">
            <%= f.text_field :name,class:'span12',placeholder:'Name Work Form Group' %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Work Form</label>
          <div class="controls">
            <%= f.select(:work_form_id, options_from_collection_for_select(@work_forms, :id, :name, :selected => @work_form_group ? @work_form_group.work_form_id : ''), {prompt: 'Select Form'}, {class: "span12"}) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Description</label>
          <div class="controls">
            <%= f.text_field :description, class:'span12',placeholder:'Enter your form description' %>
          </div>
        </div>
      </div>
    </div>
    <div class="controls">
      <%= link_to "<i></i>Cancel".html_safe ,work_form_groups_path,class: "btn btn-icon btn-default" %>
      <%= button_tag "<i></i>Save".html_safe,:class => "btn btn-icon btn-primary circle_ok" %>
    </div>
  </div>
</div>
